/*=== Notmalize ===*/
body {
    font-family: 'Lora', serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
    background: #A9A9A9;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0,0,10px,0;
}

/*=== HEADER ===*/
.header {
    background: url(img/header_img/header_image.png) no-repeat;
}

.header__subblock {

}

.header__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px; 
}

.header__nav {

}

.header__nav__subblock{
    font-family: 'Oxygen';
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 20px;
    color: #fff;

    text-decoration: none;
}

/*=== HEADER__SECTION ===*/
.header__section {

} 

.header__section__subblock {

}

.header__section__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
}

.header__section__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.63);
}

.header__section__button {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    height: 44px;
    left: 0%;
    right: 0%;
    top: 0px;

    background: #DD783F;
    border-radius: 3px;
}

/*=== NAV ===*/
.nav {
  
}

.nav__subblock {
    text-decoration: none;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #768088; 
}

/*=== MAIN ===*/
.main {

}

/*=== MAIN__FEATURED ===*/
.main__featured {

}

.main__featured__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #2E2E2E;
}

.main__featured_{

}

.main__featured__subblock {

}

.main__featured__subblock__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
}

.main__featured__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;

    color: rgba(255, 255, 255, 0.7);
}

.main__featured__subblock__bottom {

}

.main__featured__author {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;

    color: #999999;
}

.main__featured__data {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px; 
    
    color: #999999;
}

/*=== MAIN__MOST ===*/
.main__most {

}

.main__most__title {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;

    color: #2E2E2E;
}

.main__most__subblock {

}

.main__most__subblock__cell {

}

.main__most__subblock__cell__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    color: #101315;
}

.main__most__subblock__cell__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;

    color: #7A7A7A;
}

.main__most__subblock__cell__bottom {

}

.main__most__subblock__cell__bottom__author {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;

    color: #999999;
}

.main__most__subblock__cell__bottom__data {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;

    color: #999999;
}

/*=== FOOTER ===*/
.footer {
    background: url(img/footer/footer.png) no-repeat;
}

.footer__subblock {

}

.footer__subblock__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;

    color: #fff;
}

.footer__nav {

}

.footer__nav__link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}