/*=== Notmalize ===*/
body {
    font-family: 'Lora', serif;
    font-size: 14px;
    margin: 0;
    background: #A9A9A9;
    color: #fff;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0,0,10px,0;
}

/*=== HEADER ===*/
.header {

}

.header__subblock {

}

.header__subblock__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;

    color: #2E2E2E;
}

.header__nav {

}

.header__nav__link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;

    color: #2E2E2E;
    text-decoration: none;
}

.header__bottom {

}

.header__bottom__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;

    color: #2E2E2E;
}

.header__bottom__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;

    color: rgba(46, 46, 46, 0.63);
}

/*=== IMAGE ===*/
.image {

}

/*=== CONTENT ===*/
.content {

}

.content__subblock {

}

.content__text {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 35px;

    color: #101315;
}

/*=== FOOTER ===*/
.footer {
    background: url(img/footer/footer.png) no-repeat;
}

.footer__title {
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;

    color: #fff;
}

.footer__nav {

}

.footer__nav__link {
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}